body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar {
    background-color: #a49892 !important; /* Example custom color */
    font-size: large;
    font-weight: 300;   
}

.nav-link.active {
    color: #8d2323 !important; /* Highlight your active page */
    border-bottom: 2px solid #8d2323;
}

.navbar-brand {
    font-weight: 700;
    font-family: 'Pixel Operator', monospace;
}